
h1, h3 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header {
  height: 75px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  position: relative;
}

.sidebar {
  flex: 0 0 150px;
  position: relative;
  padding-left: 5px;
  background-color: #D2D2D2;
}

.content {
  flex: 0 0 auto;
  position: relative;
}

.row {
  margin: 20px;
}

.wide {
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.add-dist {
  margin-bottom: 8px;
}
