<h1>{{$ctrl.distributor.name}}</h1>
<p>Contact: {{$ctrl.distributor.contact}}</p>
<p>Email: {{$ctrl.distributor.email}}</p>

<button ng-click="$ctrl.showForm()">Edit Info</button>
<form ng-if="$ctrl.form" ng-submit="$ctrl.updateDist($ctrl.editDist)">
  <input placeholder="Distributor" ng-model="$ctrl.editDist.name"></input>
  <input placeholder="Contact Name" ng-model="$ctrl.editDist.contact"></input>
  <input placeholder="Email" ng-model="$ctrl.editDist.email"></input>
  <button type="submit">Submit</button>
</form>

<p>Available Items</p>
<div class="wrapper cf" ng-repeat="item in $ctrl.detail">
  <div class="fl w-50">{{item.item}}</div>
  <div class="fl w-10">{{item.price}}</div>
  <button class="fl w-10" ng-click="$ctrl.deleteItem(item)">Delete</button>
  <div class="fl w-30"></div>
</div>

<div class="wrapper mv3">
<form ng-submit="$ctrl.addItem($ctrl.newItem)">
  <p>
  Add new item:
    <input placeholder="item name" ng-model="$ctrl.newItem.name"></input>
    <input placeholder="price" ng-model="$ctrl.newItem.price"></input>
    <button type="submit">Submit</button>
  </p>
</form>
</div>
<p>{{$ctrl.detail}}</p>
