<div class="container">
  <nav class="bg-silver header">
    <h1>Smart Order</h1>
  </nav>

  <main>
    <nav class="bg-moon-gray sidebar">
      <h3><a ng-click="$ctrl.goHome()">Home</a></h3>
      <h3><a ng-click="$ctrl.goCheckout()">Checkout</a></h3>
    </nav>
    <home
    ng-if="$ctrl.showHome"
    class="wide"
    current-order="$ctrl.currentOrder"
    show-home="$ctrl.showHome"
    show-checkout="$ctrl.showCheckout"></home>
    <checkout
    ng-if="$ctrl.showCheckout"
    class="wide"
    current-order="$ctrl.currentOrder"
    show-home="$ctrl.showHome"
    show-checkout="$ctrl.showCheckout"></checkout>
  </main>
</div>
